{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="{% static 'users/style.css' %}">
     <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    <div class="row">
        <div class="col l6 m12 center-align">
            <img src="{% static 'users/rmkcetlogo.png' %}">
        </div>
        <div class="login col l6 m12 right">
            <form method="POST">
                {%csrf_token%}
                <fieldset>
                    <div class="row">
                        <div>

                        </div>
                        <div>
                            <div>
                                <h3>LOGIN</h3>
                            </div>
                            <div id="div_id_username" class="input">
                                <label for="id_username" class="required">Username</label>
                                <input type="text" name="username" autofocus maxlength="254" class="textinput textInput" required id="id_username" />
                            </div>
                            <div id="div_id_password" class="input">
                                <label for="id_password" class="required">Password</label>
                                <input type="password" name="password" class="textinput textInput" required id="id_password" />
                            </div>
                            <div class="submit">
                              <button class="btn waves-effect waves-light" type="submit" name="action">
                                Submit
                              </button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</body>
</html>
